*{
    margin: 0px;
    padding: 0px;
}

img{
    height: 300px;
    width: 300px;
    display: inline-block;
}

button{
    display: block;
}

.ninjaframe{
    display: inline-block;
    height: 300px;
    width: 300px;
}